.text_root {

  font-style: normal;
  margin: 0;
  padding: 0;
  color: black;
}

.text_small_variant {
  font-size: 14px;
}

.text_middle_variant {
  font-size: 16px;
}

.text_large_variant {
  font-size: 18px;
}