.input-transport[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.label-transport {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: gray;
    border-radius: 1rem;
    position: relative;
    margin-right: 5%;
    padding: 0.2rem 1rem;
}

.input-transport:checked+.label-transport {
    background: $main-color;
}

.type-transport {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 5%;

    img {
        width: 25%;
        padding: 0;
        margin: 0;
    }
}