$primary-color: #DD3732;
$main-color: rgb(0, 133, 255);
$hover-color: #0e4bf1;
$dark-color: #002882;
$light-color: rgba(255, 255, 255, 0.3);
$text-primary: black;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
